# Рекурсивно игнорируем все файлы
ThirdParty/cef_win64/**

# но не директории
!ThirdParty/cef_win64/**/

# чтобы оставить файлы
!ThirdParty/cef_win64/cmake/cef_variables.cmake
!ThirdParty/cef_win64/MyNotes.md
