# Рекурсивно игнорируем все файлы
ThirdParty/cef_win32/**

# но не директории
!ThirdParty/cef_win32/**/

# чтобы оставить файлы
!ThirdParty/cef_win32/cmake/cef_variables.cmake
!ThirdParty/cef_win32/MyNotes.md
